/01_Operators.js
/02_conditionalStatements.js
/03_logicalOperators.js
/04_switchStatements.js
/05_alert&prompt.js
/06_pracQues.js
/07_arrays.js
/08_pracQues.js
/09_loops.js
/10_objectLiterals.js
/12_functions.js
/13_scope.js